*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'HolbertonIcons';
    src: url('holberton_school-icon/fonts/holberton_school-icon.woff') format('woff');
}


html, body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
header {
    position: absolute;
    width: 100%;
    max-width: 1000px;
}
.hero_1 {
    content: '';
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1000px;
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.logo {
    height: 32px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    padding: 1rem 2rem;
}
.header_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;

    >li>a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
    >li>a:hover {
        color: #FF6565;
    }
    >li>a:active {
        color: #FF6565;
    }
}
.menu {
    display: none;
}
.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.hero_1 {
    text-align: center;
    color: white;
    
}
.hero_1_content {
    margin-top: 20rem;
    margin-bottom: 4rem;
    >h2 {
        font-size: 32px;
        font-weight: bold;
        padding: 0.3rem;
    }
    >h3 {
        font-size: 16px;
        font-weight: bold;
        padding: 0.5rem auto;
    }
    >button {
        margin-top: 40px;
        margin-bottom: 65px;
        padding: 10px 30px;
        border: none;
        border-radius: 22px;
        background-color: #FF6565;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    >p {
        max-width: 637px;
        vertical-align: top;
        line-height: 1.5;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin: 0 auto;
        padding: 0.5rem;
    }
    >button:hover {
        background-color: rgb(255, 101, 101, 0.9);
    }
}

.what_we_do {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #071629;
}
.what_we_do_content {
    max-width: 637px;
    margin: 110px auto 97px auto;
    text-align: center;
    >h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 4rem;
    }
    >p {
        font-size: 16px;
        padding: 0.5rem;
    }
}
.holberton_school-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 3rem auto;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 192px;
        >h4 {
            padding-bottom: 1rem;
        }
        >p {
        text-align: center;
        font-size: 14px;
        }
    }
}
.holberton_school-icon-ic_sound, .holberton_school-icon-ic_video, .holberton_school-icon-ic_music, .holberton_school-icon-ic_hearing {
    font-size: 70px;
    color: rgb(255, 101, 101);
    margin-bottom: 1rem;
}
.our_results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: url("images/headphones_hero_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    >h3 {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight:400;
        font-size: 32px;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    >p {
        max-width: 637px;
        font-size: 16px;
        text-align: center;
        margin-bottom: 2rem;
    }
    >div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 auto 3rem auto;
    }
}
.pentagones {
    text-align: center;
    width: 180px;
    height: 180px;
    background-image: url("images/pentagone.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    >h3 {
        font-size: 46px;
        padding-top: 4rem;
    }
}

@media (max-width: 480px) {
    
    .navbar {
        display: flex;
        align-items: center;
        padding-left: 0.7rem;
        padding-right: 30%;
    }
    .header_list {
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 4rem;
        left: 0;
        right: 0;
        >li>a {
            font-size: 14px;
        }
    }
    .menu:checked ~ .header_list {
        display: flex;
    }
    .hamburger-menu {
        display: block;
    }
    .holberton_school-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;
        margin: 0 auto 3rem auto;
    }
    .holberton_school-icon-ic_sound, .holberton_school-icon-ic_video, .holberton_school-icon-ic_music, .holberton_school-icon-ic_hearing {
        font-size: 70px;
        color: rgb(255, 101, 101);
        margin-bottom: 1rem;
    }
    .our_results > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
}